#homeBackground {
  background: rgb(31, 32, 40);
}

.hugepadding {
  padding-bottom: 25rem;
}

.nav-pills .nav-link.active {
  border-radius: 0 !important;
  background-color: rgba(86, 78, 78, 0.521) !important;
}
.nav-pills .nav-link:hover {
  background-color: rgb(33, 27, 27);
}

.tabcolor {
  background-color: rgba(0, 0, 0, 0.273);
}
.centerAll {
  display: flex;
  align-items: center; /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}

.loading {
  clip-path: inset(0 1.5ch 0 0);
  animation: l 1s steps(5) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
