.gradient-custom-2 {

 
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     /* background: linear-gradient(to right, #3b73db, #d48889, #832f4f, #36ca78);  */
     background: rgba(55, 201, 26, 0.945) !important 
  }


  #backgroundImageLogin {
    /* background-image: url('../images/backgroundlogin.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: rgb(31,32,40);
}
  
.gradient-custom-3-login {

  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: rgb(31,32,40);
}

@media (max-width: 575.98px) { 
  .footerLoginFontSize {
      font-size: 95%;
  }

}