.navbar-brand {
    font-size: 20px;
}



.nav-link:hover {
    color:rgba(134, 134, 134, 0.986) !important;
}


#navBackgroundColor {
    background: rgb(36, 36, 36);
   
 
}

.active {
    border-bottom: solid red;

}

.navbar-nav {
    height: 43px;
}

/*When screen size is smaller than this, height:auto */
 @media (max-width: 575.98px) { 
    .navbar-nav {
        height: auto;
    }

  }