body {
    background-image: linear-gradient(to right top, #00ff4c, #ae00ff);
 
   
   

}

.spacing-form {
    padding-top: 200px;
   


}



 .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 5px;
    z-index:9;
  
  
}