:root {
  --size: 14px;
}

.member-title {
  text-align: center;
  margin-top: var(--size);
  margin-bottom: var(--size);
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #0a0909b0;
}
.inline-img {
  display: inline;
  margin: 0 0.5em;
  padding: 0;
  vertical-align: baseline;
}
