#borderRadius {
  box-shadow: 1px 1px 44px -8px rgba(1, 1, 2, 0.651);
  border-color: black !important;
  border-width: thin !important;

}

.gradient-custom-1 {
 background-color:rgba(225, 64, 199, 1);

}

.gradient-custom-5 {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to top,
    rgba(0, 26, 255, 0.945),
    rgba(250, 10, 10, 0.76)
  );
}

.gradient-custom-6 {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background: orange
}

.gradient-custom-7 {
 background: rgb(0, 183, 255)
}
#theborderstart {
  border: 8px solid;

  border-image-slice: 1;

  border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d);
}

#thebordermiddle {
  border: 8px solid;

  border-image-slice: 1;

  border-image-source: linear-gradient(to bottom, #7bff00, #0041f3);
}
#theborderend {
  border: 8px solid;

  border-image-slice: 1;

  border-image-source: linear-gradient(to bottom, #fc0000, #00ffdd);
}

#bestvaluetag {
  z-index: 1;
  position: absolute;
  color: black;
  transform: rotate(-7deg);
}

.table {
  border-collapse: separate;
  border-spacing: 0px 2px;
}

#content {
  font-size: 15px;
}

/*
source: https://www.bram.us/2021/01/29/animating-a-css-gradient-border/
*/

/* AQUA tab*/
#thebordermiddle {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), rgb(0, 255, 242), rgb(255, 255, 0)) 1;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


/* VIP tab*/
#theborderstart {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #d400ff, #00f7ff) 1;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


/* Nova tab*/
#theborderend {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #ff8800, hsl(300, 100%, 50%)) 1;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.bgColorBar {
  background: rgb(47, 47, 47, 0.9);
}