

.borderRadius {
  box-shadow: 1px 1px 44px -8px rgba(1, 1, 2, 0.651);
  border-color: black !important;
  border-width: thin !important;

}

.gradient-custom-1 {
 background-color:rgba(225, 64, 199, 1);

}

.gradient-custom-5 {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to top,
    rgba(0, 26, 255, 0.945),
    rgba(250, 10, 10, 0.76)
  );
}

.gradient-custom-upgradeheader {
  background: rgb(31,32,40);
  text-shadow:  rgb(0, 0, 0) 1px 3px 6px
}

.gradient-custom-6 {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background: orange
}

.gradient-custom-7 {
 background: rgb(0, 183, 255)

/** border colors*/
}
#theborderstart {
  border: 0.5px solid;

  border-image-slice: 1;

  border-image-source: linear-gradient(to bottom, #000000, #000000);
}

#thebordermiddle {
  border: 0.5px solid;

  border-image-slice: 1;

  border-image-source: linear-gradient(to bottom, #000000, #000000);
}
#theborderend {
  border: 0.5px solid;

  border-image-slice: 1;

  border-image-source: linear-gradient(to bottom, #000000, #000000);
}

#bestvaluetag {
  z-index: 1;
  position: absolute;
  color: black;
  transform: rotate(-7deg);
}

.table {
  border-collapse: separate;
  border-spacing: 0px 2px;
}

#content {
  font-size: 15px;
}

/*
source: https://www.bram.us/2021/01/29/animating-a-css-gradient-border/
*/

/* AQUA tab*/
/* #thebordermiddle {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), rgb(0, 255, 242), rgb(255, 255, 0)) 1;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
} */


/* VIP tab*/
/* #theborderstart {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #d400ff, #00f7ff) 1;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
} */


/* Nova tab*/
/* #theborderend {
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), #ff8800, hsl(300, 100%, 50%)) 1;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
} */

/*userbars, upgrade perks*/
.bgColorBar {
  background: rgba(31, 32, 40, 0.07);
}

.iconcolor-vip i {
  color:rgb(225, 64, 199);

}

.iconcolor-aqua i {
  color: #6991f7;
}

.iconcolor-nova i {
  color: rgb(212, 103, 9);
}

.iconfontsize i {
  font-size: 18px;
}

/*black background color for sections, all tiers are wrapped in sections, hence, sections*/
.darkbackgroundcolor, section   {
  background: rgb(31,32,40) !important;
}

/*Colors for specific texts*/
.VIPColor span {
  color: rgb(225, 64, 19);
  text-shadow: 0.5px 0.5px 5px rgb(225, 64, 199);
}

.AQUAColor span{
  color:  #6991f7;
  text-shadow: ' 0.5px 0.5px 5px #6991f7';
}

.NOVAColor span{
  color: rgb(212, 103, 9);
  text-shadow: ' rgb(212 103 9) 1px 1px 3px';
}

.darkHighlight {
  background: rgba(0, 0, 0, 0.2); 
  padding: 10px ;
  margin: -8px ; 
}