#backgroundColorDash {
    background: rgb(31,32,40);
  }

  .userCoverPage {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.075),rgb(0, 0, 0)),url("../images/coverpage.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    

  }

  .profilePicture {
    height:145px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  }

.profilecover {
  position: relative;
    left: 40px;
    bottom:4px;
}

.carddarkbg {
 background: rgb(31,32,40)!important;
}